
<%= simple_form_for(@task) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">

    <%= f.input :deadline_at %>

    <%= f.input :title %>

    <%= f.input :note %>

    <%= f.input :is_done %>

    <%= f.association :user %>
    <%= f.association :category %>
    <%= f.association :tags, through: :tag_associations %>

  </div>

  <div class="btn btn-primary">
    <%= f.button :submit %>
  </div>
<% end %>
