<p id="notice"><%= notice %></p>

<ul class="list-group list-group-flush">
  <li class="list-group-item"><strong>Deadline at:</strong>
    <%= @task.deadline_at %></li>
  <li class="list-group-item"><strong>Title:</strong>
    <%= @task.title %></li>
  <li class="list-group-item"><strong>Note:</strong>
    <%= @task.note %></li>
  <li class="list-group-item"><strong>Category:</strong>
  <%= @task.category_id %>
</li>
  <li class="list-group-item"><strong>Tags:</strong>
    <%= @task.tags %>
  </li>
</ul>

<button type="button" class="btn btn-outline-info"><%= link_to 'Edit', edit_task_path(@task) %></button>

  <button type="button" class="btn btn-outline-info"><%= link_to 'Back', tasks_path %></button>
